In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
url = "C:\\Users\\sach2\\Desktop\\Masters\\Semester 2\\CS 513 Data mining\\Project\\Clean Data\\Clean_data_v1\\Fatal_shooting_clean_v1.csv"
df = pd.read_csv(url)

In [3]:
df

,id,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,2015-01-02,shot,gun,53,M,A,Shelton,WA,True,attack,0,False
1,4,2015-01-02,shot,gun,47,M,W,Aloha,OR,False,attack,0,False
2,5,2015-01-03,shot and Tasered,unarmed,23,M,H,Wichita,KS,False,other,0,False
3,8,2015-01-04,shot,toy weapon,32,M,W,San Francisco,CA,True,attack,0,False
4,9,2015-01-04,shot,nail gun,39,M,H,Evans,CO,False,attack,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5635,6769,2021-04-10,shot,gun,48,M,O,San Fernando,CA,False,attack,0,False
5636,6771,2021-04-10,shot,metal pipe,27,M,O,Rockford,IL,False,other,0,False
5637,6775,2021-04-10,shot,knife,37,M,O,San Marcos,TX,False,attack,0,False
5638,6768,2021-04-12,shot,gun,28,M,B,Bremen,GA,False,attack,1,False
5639,6778,2021-04-13,shot,knife,16,M,W,Leonardtown,MD,False,attack,0,False

,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,shot,gun,53,M,A,Shelton,WA,True,attack,0,False
1,shot,gun,47,M,W,Aloha,OR,False,attack,0,False
2,shot and Tasered,unarmed,23,M,H,Wichita,KS,False,other,0,False
3,shot,toy weapon,32,M,W,San Francisco,CA,True,attack,0,False
4,shot,nail gun,39,M,H,Evans,CO,False,attack,0,False
...,...,...,...,...,...,...,...,...,...,...,...
5635,shot,gun,48,M,O,San Fernando,CA,False,attack,0,False
5636,shot,metal pipe,27,M,O,Rockford,IL,False,other,0,False
5637,shot,knife,37,M,O,San Marcos,TX,False,attack,0,False
5638,shot,gun,28,M,B,Bremen,GA,False,attack,1,False
5639,shot,knife,16,M,W,Leonardtown,MD,False,attack,0,False

ValueError: could not convert string to float: 'shot'